@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,800&display=swap");

:root {
  --purple: #6b3a9f;
  --pink: #a75eb4;
  --bg: #e0e0e0;
}
/* CSS Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--purple);
}
::-webkit-scrollbar-thumb {
  background: #a5a5a5;
}
::-webkit-scrollbar-thumb:hover {
  background: #818080;
}

body {
  height: 100vh;
  /* height: 100vh; */
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  margin-bottom: 60px;
  padding-bottom: 20px;
}

header nav {
  display: flex;
  width: 100%;
  background-color: var(--purple);
  top: 0;
}
nav {
  position: fixed;
  z-index: 2;
  box-sizing: border-box;
  height: 80px;
  padding-left: 20px;
  padding-right: 20px;
}
header article.header-content {
  padding: 10px;
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--bg);
  margin-bottom: -15px;
  gap: 20px;
}
header article.header-content .satu {
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 380px;
}
header article.header-content .satu img {
  width: 380px;
}
header article.header-content .dua {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: c;
  padding: 15px;
  width: 40%;
}
header .header-content .dua h2 {
  font-size: 3.2rem;
  background-color: rgb(85, 85, 85);
  color: transparent;
  text-shadow: 0px 2px 3px rgba(139, 8, 200, 0.8);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-align: center;
}

header .header-content .dua h2:hover {
  cursor: pointer;
  transition: ease-in-out 0.3s;
  letter-spacing: 14px;
}
header .header-content .dua h4 {
  margin-top: 0px;
  color: rgb(85, 85, 85);
  opacity: 0.8s;
  font-weight: 400;
  font-size: 1.1rem;
}
header .header-content .dua p {
  font-size: 1.1rem;
  line-height: 2rem;
  text-align: left;
  text-align: justify;
}
header .header-content .dua p:hover {
  cursor: pointer;
  transition: ease-in-out 0.5s;
  transform: scale(1.1);
}
header .header-content button {
  width: 140px;
  height: 50px;
  padding: 5px;
  box-sizing: border-box;
  border: none;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1px;
  background: rgb(45, 21, 138);
  background: linear-gradient(
    43deg,
    rgba(45, 21, 138, 1) 0%,
    rgba(167, 94, 180, 1) 100%
  );
  border-radius: 999px;
  opacity: 0.8;
  color: white;
  text-transform: uppercase;
  z-index: 1;
}

header .header-content button:hover {
  cursor: pointer;
  opacity: 1;
  transition: ease-in-out 0.3s;
  box-shadow: 0px 2px 18px 3px rgba(167, 94, 180, 1);
  -webkit-box-shadow: 0px 2px 18px 3px rgba(167, 94, 180, 1);
  -moz-box-shadow: 0px 2px 18px 3px rgba(167, 94, 180, 1);
}

header nav h2 {
  color: white;
  display: flex;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
header nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  gap: 3.5rem;
  font-size: 1.2rem;
  width: 100%;
}
header nav ul .contact {
  height: 60px;
  padding: 8px;
  font-weight: 600;
  box-sizing: border-box;
  border: none;
  background: #ffffff;
  border-radius: 999px;
  opacity: 0.8;
  color: var(--purple);
}

header nav ul li a {
  text-decoration: none;
  font-weight: 600;
  color: white;
  opacity: 0.8;
}
header nav ul li .contact:hover {
  opacity: 1;
  transition: linear 0.3s;
  border-bottom: none;
}

header nav ul li a:hover {
  opacity: 1;
  transition: linear 0.3s;
  border-bottom: 2px solid white;
}
main {
  display: flex;
  flex-direction: column;
}

/* CSS Article 1 */
main .article1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
main .article1 .tiga {
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 380px;
  /* background-color: aquamarine; */
  order: 1;
}
main .article1 .tiga img {
  width: 380px;
}
main .article1 .tiga img:hover {
  scale: 1.1;
  transition: ease-in 0.5s;
}
main .article1 .empat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5px;
  width: 40%;
}

main .article1 .empat h2 {
  font-size: 3.2rem;
  color: var(--purple);
  text-transform: uppercase;
  letter-spacing: 8px;
}

main .article1 .empat h2:hover {
  cursor: pointer;
  transition: ease-in-out 0.3s;
  letter-spacing: 20px;
}
main .article1 .empat h4 {
  margin-top: 0px;
  color: rgb(85, 85, 85);
  opacity: 0.8s;
  font-weight: 400;
  font-size: 1.1rem;
}
main .article1 .empat p {
  font-size: 1.1rem;
  line-height: 2rem;
  text-align: left;
  text-align: justify;
}
main .article1 .empat p:hover {
  cursor: pointer;
  transition: ease-in-out 0.5s;
  transform: scale(1.1);
}
main .article1 .empat .wrap {
  margin-top: 10px;
}

main .article1 .empat .wrap .button {
  width: 140px;
  height: 50px;
  padding: 5px;
  box-sizing: border-box;
  border: none;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1px;
  background: rgb(45, 21, 138);
  background: linear-gradient(
    43deg,
    rgba(45, 21, 138, 1) 0%,
    rgba(167, 94, 180, 1) 100%
  );
  border-radius: 999px;
  opacity: 0.8;
  color: white;
  text-transform: uppercase;
}

main .article1 .empat .wrap .button2 {
  width: 140px;
  height: 50px;
  padding: 5px;
  margin-left: 20px;
  box-sizing: border-box;
  border-color: var(--purple);
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  background-color: transparent;
  border-radius: 999px;
  opacity: 0.8;
  text-transform: uppercase;
  color: var(--purple);
}
main .article1 .empat .wrap .button a {
  text-decoration: none;
  color: white;
}

main .article1 .empat .wrap .button2 a {
  color: var(--purple);
  text-decoration: none;
}
main .article1 .empat .wrap .button:hover {
  cursor: pointer;
  opacity: 1;
  transition: ease-in-out 0.3s;
  box-shadow: 0px 2px 18px 3px rgba(167, 94, 180, 1);
  -webkit-box-shadow: 0px 2px 18px 3px rgba(167, 94, 180, 1);
  -moz-box-shadow: 0px 2px 18px 3px rgba(167, 94, 180, 1);
}

main .article1 .empat .wrap .button2:hover {
  opacity: 1;
  transition: ease-in-out 0.3s;
  background: rgb(45, 21, 138);
  background: linear-gradient(
    43deg,
    rgba(45, 21, 138, 1) 0%,
    rgba(167, 94, 180, 1) 100%
  );
}
main .article1 .empat .wrap .button2 a:hover {
  color: white;
}

/* CSS Article 2 */
main .article2 {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
main .article2 h2 {
  font-size: 3.2rem;
  color: var(--purple);
  text-transform: uppercase;
  letter-spacing: 8px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

main .article2 .wrap-article2 {
  display: flex;
  align-items: center;
  width: 80%;
}

main .article2 .wrap-article2 .tujuh {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  /* background-color: #e0e0e0; */
  border-radius: 20px;
  padding: 10px;
}

main .article2 .wrap-article2 .tujuh:hover {
  box-shadow: 0px 2px 18px 3px rgba(167, 94, 180, 1);
  -webkit-box-shadow: 0px 2px 18px 3px rgba(167, 94, 180, 1);
  -moz-box-shadow: 0px 2px 18px 3px rgba(167, 94, 180, 1);
  transition: ease-in-out 0.5s;
  transform: translate(0px, -20px);
}

main .article2 .wrap-article2 .tujuh .enam {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  /* background-color: cadetblue; */
}
main .article2 .wrap-article2 .tujuh .enam img {
  width: 22%;
  opacity: 0.5;
  margin: 6px;
  border-radius: 10px;
}
main .article2 .wrap-article2 .content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  height: 40%;
  padding: 10px;
  margin: 0;
  padding-left: 20px;
  /* background-color: coral; */
}

main .article2 .wrap-article2 .content h4 {
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: var(--purple);
  /* background-color: aqua; */
}
main .article2 .wrap-article2 .content p {
  margin-top: -5px;
  text-align: justify;
  /* background-color: burlywood; */
}

main .article2 .wrap-article2 .tujuh .card-img {
  width: 100%;
  border-radius: 20px;
}

main .article2 .wrap-article2 .enam img:hover {
  cursor: pointer;
  opacity: 1;
  transition: ease-in-out 0.3s;
  box-shadow: 0px 2px 18px 3px rgba(167, 94, 180, 1);
  -webkit-box-shadow: 0px 2px 18px 3px rgba(167, 94, 180, 1);
  -moz-box-shadow: 0px 2px 18px 3px rgba(167, 94, 180, 1);
}

aside {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
aside .aside {
  width: 330px;
  border-radius: 10px;
  background-color: var(--bg);
}
aside .aside:hover {
  box-shadow: 0px 2px 18px 3px rgba(167, 94, 180, 1);
  -webkit-box-shadow: 0px 2px 18px 3px rgba(167, 94, 180, 1);
  -moz-box-shadow: 0px 2px 18px 3px rgba(167, 94, 180, 1);
  transition: ease-in-out 0.5s;
  transform: translate(0px, -20px);
}

aside h2 {
  font-size: 3.2rem;
  color: var(--purple);
  text-transform: uppercase;
  letter-spacing: 8px;
}
aside .aside img {
  width: 330px;
}
aside .aside {
  background: linear-gradient(87deg, #a75eb4 0%, rgba(45, 21, 138, 1) 100%);
  width: 330px;
  border-radius: 10px;
}

aside h2:hover {
  cursor: pointer;
  transition: ease-in-out 0.3s;
  letter-spacing: 14px;
}

aside .aside .biodata {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 150px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
  margin-bottom: 30px;
  margin-top: 0px;
  color: var(--purple);
  padding-top: 0px;
  background-color: var(--bg);
  border-radius: 0px 0px 10px 10px;
}
aside .aside .biodata h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

aside .aside .biodata .info tr th {
  color: var(--purple);
  margin: 10px;
}

aside .aside .biodata .info tr td {
  text-align: left;
  padding-left: 10px;
  padding-top: 5px;
}

aside .aside .biodata .info tr th {
  text-align: left;
  padding-top: 5px;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  margin-top: 50px;
  background-color: var(--purple);
  color: white;
}
footer .sosmed {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
}

footer .sosmed a {
  text-decoration: none;
  color: white;
}
footer .sosmed a i {
  scale: 1.5;
  opacity: 0.5;
}

footer .sosmed a i:hover {
  opacity: 1;
}

@media only screen and (max-width: 480px) {
  header {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  header article.header-content .dua {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header article.header-content .dua h4 {
    font-size: 1rem;
    text-align: center;
  }

  main .article1 {
    margin-top: 30px;
    /* background-color: aqua; */
  }
  main .article2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 850px;
    margin-top: 30px;
  }
  main aside {
    margin-top: 30px;
    /* background-color: cadetblue; */
  }
  main .article2 h2 {
    width: 80%;
    font-size: 2.8rem;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  header {
    margin-top: 30px;
  }
  header nav {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  header nav h2 {
    margin-top: 15px;
    font-size: 1.2rem;
  }
  header nav ul {
    padding: 5px;
    font-size: 1.2rem;
  }
  header {
    width: 100%;
  }
  header article.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header article.header-content .satu {
    width: 80%;
  }
  header article.header-content .satu img {
    width: 80%;
  }
  header article.header-content .dua {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    box-sizing: border-box;
  }
  header article.header-content .dua h2 {
    font-size: 3.2rem;
    margin: auto;
  }
  header article.header-content .dua h4 {
    font-size: 1.2rem;
    margin-top: 40px;
    margin: auto;
  }
  header article.header-content .dua p {
    font-size: 1.1rem;
    margin-top: 20px;
  }
  main .article1 {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
  }
  main .article2 {
    margin-top: 60px;
    /* background-color: blue; */
  }
  main aside {
    margin-top: 60px;
    /* background-color: cadetblue; */
  }
  main .article1 .empat {
    order: 1;
    display: flex;
    justify-content: center;
    width: 80%;
  }
  main .article1 .empat h2 {
    font-size: 3.2rem;
    margin: auto;
    margin-top: 20px;
  }
  main .article1 .empat h4 {
    font-size: 1.2rem;
    margin: auto;
  }
  main .article1 .empat p {
    font-size: 1.1rem;
    margin-top: 20px;
  }
  main .article1 .empat .wrap {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  main .article2 h2 {
    font-size: 2.5rem;
    text-align: center;
  }
  main .article2 .wrap-article2 {
    display: flex;

    flex-direction: column;
  }
  main .article2 .wrap-article2 .tujuh {
    width: 80%;
  }
  main .article2 .wrap-article2 .content {
    width: 80%;
    padding: 10px;
  }
  main .article2 .wrap-article2 .content h4 {
    margin-top: 0;
  }
  main .article2 .wrap-article2 .content p {
    margin-top: -15px;
  }
  aside .aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      43deg,
      rgba(45, 21, 138, 1) 0%,
      rgba(167, 94, 180, 1) 100%
    );
  }
  aside .aside img {
    width: 330px;
  }
  aside .aside .biodata {
    background-color: var(--bg);
  }
}
